OPENAI_API_KEY=
GEMINI_API_KEY=
GROQ_API_KEY=
ANTHROPIC_API_KEY=
DEFAULT_VENDOR=Ollama
DEFAULT_MODEL=llama3.1:latest
PATTERNS_LOADER_GIT_REPO_URL=https://github.com/danielmiessler/fabric.git
PATTERNS_LOADER_GIT_REPO_PATTERNS_FOLDER=patterns
OLLAMA_API_URL="http://{{ollama_server_ip}}:11434"
YOUTUBE_API_KEY=YOUR_YOUTUBE_API_KEY