---
import "@/styles/globals.css";
import Layout from "@/layouts/Layout.astro";
import { FabricApp } from "@/components/FabricApp";
---

<Layout title="Welcome to Fabric.">
	<main>
		<h1>Welcome to <span class="text-gradient">Fabric</span></h1>
		<p class="instructions">
			To get started, choose between the modes below
			<code>text input</code> or <code>youtube transcript</code>
			and then choose the pattern you want to run.
		</p>

		<FabricApp client:only />
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		max-width: calc(100% - 2rem);
		min-height: 100vh;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(
			rgba(var(--accent-dark), 66%),
			rgba(var(--accent-dark), 33%)
		);
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
</style>
